body {
    background-color: #EEF7C2;
    opacity: 1;
    transition: 1s opacity;
}

html {
    animation: fadeIn 6s;
}

p {
    line-height: 1.5;
}

img {
    margin-top: 125px;
    float: right;
}

.speech-bubble {
	position: absolute;
	background: #fff3f2;
    border-radius: .4em;
    top: 0; 
    left: 16px; 
    font-size: 14px;
    width: 95%;
    padding: 5px; 
    background-color: #EEF7C2;
    border: 1px solid #55736B;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 580px;
	width: 0;
	height: 0;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
    margin-bottom: -20px;
}



@keyframes fadeIn {
        from {
            opacity: 0;
        }
    

    to {
        opacity: 1;
    }

}
